@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #7356f5;
  --primary-hover: #593ccb;
  --border: #28232d;
  --card: #18141f;
  --surface: #110d17;
  --pagesbg: #09050f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-surface: var(--surface);
  --color-pagesbg: var(--pagesbg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

h1 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.primary-color {
  color: var(--primary);
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 13;
} 
